/* General styles */
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #eee;
}

.fs--small {
    font-size: .8rem;
}

.divider {
    max-width: 95%;
    margin: 0 auto;
}

/* Login form */
.form--link,
.crud--link {
    color: #3d5a80;
}

.form--btn {
    background: #8ecae6;
}

.details--title {
    font-size: 1.1rem;
    font-weight: 600;
}