/* General styles */
html {
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.fs-small {
    font-size: .8rem;
}

/* Login form */
.form-link,
.crud-link {
    color: #3d5a80;
}

.form-btn {
    background: #8ecae6;
}
