/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5rem;
    font-family: 'Poppins', sans-serif;
}

.fs--small {
    font-size: .8rem;
}

.sub--title {
    font-size: 1.5rem;
}

.divider {
    max-width: 95%;
    margin: 0 auto;
}

.create {
    text-decoration: none;
    font-size: 1rem;
}

.lineheight {
    line-height: 1.6;
}

.img {
    max-width: 100%;
    height: 100%;
}

.bg-policies {
    background: #e5d9f2;
}

    .bg-policies ul li {
        list-style: square;
    }

.bg-news {
    background: #e0f2fe;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background: #a9d6e5;
}

/* Home page */
.home--container {
    margin-top: 5rem;
}

/* Login form */
.form--link,
.crud--link,
.breadcrumb--link,
.nav-link {
    color: #3d5a80;
    text-decoration: none;
}

    .form--link:hover,
    .crud--link:hover,
    .breadcrumb--link:hover,
    .nav-link:hover {
        color: #83a2cc;
    }

.form--btn {
    background: #a9d6e5;
}
    .form--btn:hover {
        background: #bbe1ed;
    }

    .details--title {
        font-size: 1.1rem;
        font-weight: 600;
    }
