@model LillysCatering.Models.Dish

@{
    ViewData["Title"] = "Edit";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-0">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Dish" asp-action="Index">Dishes</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link fw-bold" asp-controller="Dish" asp-action="Edit" aria-current="page">Edit dish</a></li>
    </ol>
</nav>

<h1 class="display-5 text-center mb-4 fw-bold">Edit dish</h1>

<div class="container">
    <div class="row">
        <section class="mx-auto col-10 col-md-8 col-lg-4 border border-dark p-4">
            <!-- Form -->
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-group mb-3">
                    <label asp-for="Title" class="form-label mb-0">Title</label>
                    <input asp-for="Title" class="form-control border-dark" aria-required="true" />
                    <span asp-validation-for="Title" class="text-danger fs-small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Ingredients" class="form-label mb-0">Ingredients</label>
                    <input asp-for="Ingredients" class="form-control border-dark " aria-required="true" />
                    <span asp-validation-for="Ingredients" class="text-danger fs-small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="MenuId" class="form-label mb-0">Menu</label>
                    <select asp-for="MenuId" class="form-control" asp-items="ViewBag.MenuId"></select>
                    <span asp-validation-for="MenuId" class="text-danger"></span>
                </div>

                <button type="submit" value="Save" class="btn form--btn mt-1">
                    Update
                </button>
            </form>

        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
