@{
    ViewData["Title"] = "Home Page";
}

<section class="home--container mb-5">
    <div class="container px-5">
        <div class="row align-items-center">
            <!-- Left container -->
            <div class="col-lg-6 d-flex align-items-center">
                <div class=" text-lg-start">
                    <h1 class="display-2 fw-bold lh-1 mb-3">Welcome to Lilly's Catering.</h1>
                    <p class="lead fw-normal text-muted mb-3">This website is intended for staff to view, learn and manage the menus. Only authorized staff can make changes to the data.</p>
                    <p class="lead fw-normal text-muted mb-3">If you have any questions, please send an email to lillyscatering@info.com.</p>
                </div>
            </div>
            <!-- Right container -->
            <div class="col-lg-6">
                <div class="device-wrapper">
                    <div class="screen bg-black">
                        <img class="img-fluid" src="./hero.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>