@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-5 text-center mt-3 mb-4 fw-bold">Hello, dear staff member</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-8 bg-secondary p-0">
            <img class="img" src="../charcuterie.jpg" />
        </div>

        <div class="col-lg-4 bg-policies p-4">
            <h2 class="fw-bold">Company policies</h2>
            <p>As a caterer, you are responsible for more than just cooking and serving meals at different events. Please make sure that you always follow these policies:</p>
            <ul>
                <li>Always prepare and store food safely before and during events</li>
                <li>Ensure that all menu items meet the expectation of the customer</li>
                <li>Set up all tables and food service areas with warm trays, plates, utensils and linens</li>
                <li>Follow proper etiquette by always greeting customers and guests in a polite manner</li>
                <li>Refrain from using personal electronic devices such as cellphones during events</li>
                <li>Make sure that your uniform is clean and neat at all times</li>
                <li>Report any unsafe condition, act or accidents to the manager on duty</li>
                <li>Assist with clean up after an event to guarantee that no items are left behind</li>
            </ul>
        </div>

        <div class="col-lg-12 bg-news p-4">
            <h2 class="fw-bold">Company news</h2>
            <p>
                As summer approaches, we are excited to announce our plans to expand our menu selection. We are committed to providing our clients with fresh and innovative dishes that will leave a long lasting impression on their guests. Our culinary team has been working tirelessly to develop new and exicting menu items that showcase the best of seasonal ingredients. We have also been working on adding vegan and vegetarian options.
            </p>
            <p>We wanted to share these thrilling news with you and we hope that you are as excited as we are. </p>
        </div>
    </div>
</div>