@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1 class="display-5 text-center mt-3 mb-4">Welcome!</h1>

<div class="container">
    <div class="row">
        <section class="mx-auto col-10 col-md-8 col-lg-4 border border-dark p-4">
            <!-- Form -->
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-group mb-3">
                    <label asp-for="Input.Email" class="form-label mb-0">Email</label>
                    <input asp-for="Input.Email" class="form-control border-dark " autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger fs-small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Input.Password" class="form-label mb-0">Password</label>
                    <input asp-for="Input.Password" class="form-control border-dark" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger fs-small"></span>
                </div>

                <div class="checkbox mb-1">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input border-dark" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>

                <p class="mb-1 fs--small">
                    <a id="forgot-password" class="form--link" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p class="fs--small">
                    <a asp-page="./Register" class="form--link" asp-route-returnUrl="@Model.ReturnUrl">Register new account</a>
                </p>

                <button id="login-submit" type="submit" class="btn form--btn mt-1">
                    Login
                </button>
            </form>

        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
