@model LillysCatering.Models.Menu

@{
    ViewData["Title"] = "Create menu";
}

<!-- Bread crumb menu -->
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-4 mb-0">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link" asp-controller="Menu" asp-action="Index">Menus</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb--link fw-bold" asp-controller="Menu" asp-action="Create" aria-current="page">Add new menu</a></li>
    </ol>
</nav>

<h1 class="display-5 text-center mb-4 fw-bold">Add new menu</h1>

<div class="container">
    <div class="row">
        <section class="mx-auto col-10 col-md-8 col-lg-4 border border-dark p-4">
            <!-- Form -->
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-group mb-3">
                    <label asp-for="Title" class="form-label mb-0">Title</label>
                    <input asp-for="Title" class="form-control border-dark" aria-required="true" />
                    <span asp-validation-for="Title" class="text-danger fs--small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Price" class="form-label mb-0">Price</label>
                    <input asp-for="Price" class="form-control border-dark " aria-required="true" />
                    <span asp-validation-for="Price" class="text-danger fs--small"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="MinGuestAmount" class="form-label mb-0">Minimum guest amount</label>
                    <input asp-for="MinGuestAmount" class="form-control border-dark" aria-required="true" />
                    <span asp-validation-for="MinGuestAmount" class="text-danger fs--small"></span>
                </div>

                <button type="submit" value="Create" class="btn form--btn mt-1">
                    Create
                </button>
            </form>

        </section>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
